body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    width: 1000px;
    height: 500px;
    border: 2px solid salmon;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.parent >div{
    width: 200px;
    height: 100px;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}